apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: nats-credentials
data:
    Operator.creds: %s
    Operator.jwt: %s
    SYS.creds: %s
    SYS.jwt: %s
    sys.creds: %s
    ADMIN.creds: %s
    admin.creds: %s
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: nats-credentials
data:
    Operator.jwt: %s
    SYS.jwt: %s
